<!--
  This template loads for the 'tab.entry' state (app.js)
-->
<view title="'Fittr'">
  <content has-header="true" has-tabs="false" padding="true">
    <a ng-click="IntentLogin()">
      <button class="button button-block button-stable">Connect with Facebook</button>
    </a>
    <a ng-click="logout()">
      <button class="button button-block button-stable">Logout from Facebook</button>
    </a>
    <p>-- OR --</p>
    <a class="button button-block button-stable" href="#/signup">
      Signup
    </a>
    <a class="button button-block button-stable" href="#/login">
      Login
    </a>    
  </content>
</view>
