<view title="'Main'">
  <content 
    has-header="true"
    has-tabs="false"
    padding="true"
    scroll="true"
    on-refresh="onRefresh()"
    >

    <!-- CARDS BEGIN HERE -->
    <div ng-controller="MainController">
      <div
        class="card flip-in"
        ng-click="cardToggle()"
        ng-controller="CardController"
        ng-repeat="user in users"
        ng-show="visib"
        >
        <div class="item item-avatar">
          <h2>{{ user.name }}</h2>
        </div>
    </div> 
  </dvi>
  </content>
</view>
