<div id='wrapper'>
  <div id='sidebar-wrapper'>
    <ul class='sidebar-nav'>
      <li class='sidebar-brand'><a href='#!'>item 1</a></li>
      <li class='sidebar-brand'><a href='#!'>item 2</a></li>
      <li class='sidebar-brand'><a href='#!'>item 3</a></li>
    </ul>
  </div>
  <div id='page-content-wrapper'>
    <h1>{{name}}</h1>
    <img ng-Src='{{user.fitbit.profilePic}}' class='img-rounded' alt='Fittr profile pic'/>
    <h3>Welcome back {{user.name}}</h3>
    <p>data: {{data}}</p>
    <button ng-click='getData()' class='btn btn-lg btn-primary'>Get Fibit data</button>
  </div>
  <div ng-controller="ChartCtrl">
    <nvd3-stacked-area-chart
    data="data"
    id="exampleId"
    showXAxis="true"
    showYAxis="true"
    width="550"
    height="350">
    <svg></svg>
  </nvd3-stacked-area-chart>
</div>