  <div id='wrapper'>
    <div id='sidebar-wrapper'>
      <ul class='sidebar-nav'>
        <li class='sidebar-brand'><a href=''>Profile</a></li>
        <li class='sidebar-brand'><a href=''>Settings</a></li>
        <li class='sidebar-brand'><a href=''>Goals</a></li>
      </ul>
    </div>
  </div>
  <div class='dash' id='page-content-wrapper'>
    <div class='container'>
      <p>
        <h3>Hey, {{user.name}}</h3>
        <h4>
          pick a date below to start comparing some activity
        </h4>
      </p>
      <img ng-Src='{{user.fitbit.profilePic}}' class='img-circle img-responsive' alt='Fittr profile pic'/>
      <div class='dates row'>
        <div class='col-xs-6 col-md-4'>
          <div class='input-group'>
            <span class='input-group-addon'>@</span>
            <input class='form-control' placeholder='From Date'ui-date="dateOptions" ng-model="myDates.from" ui-date-format="yy-mm-dd">
          </div>
        </div>
        <div class='col-xs-6 col-md-4'>
          <div class='input-group'>
            <span class='input-group-addon'>@</span>
            <input type='text' placeholder='To Date'class='form-control' ui-date="dateOptions" ng-model="myDates.to" ui-date-format="yy-mm-dd">
          </div>
        </div>
      </div>
      <button ng-click='getAverage()' class='dash-btn btn btn-lg btn-primary'>Display Step Data</button>
    </div>
  </div>
  <div class='container graph'ng-controller="Dashboard">
    <nvd3-multi-bar-chart
      data="stepsChart"
      id="exampleId"
      width="900"
      height="540"
      showxaxis="true"
      showyaxis="true"
      showLegend="true"
      interactive="true"
      tooltips="true"
      <svg></svg>
    </nvd3-multi-bar-chart>
  </div>
