<div class='jumbotron'>
  <div class='container'>
    <div class='row'>
      <h1 class='col-xs-3 col-xs-offset-4'>Fittr</h1>
    </div>
    <div class='row'>
      <h3 class='col-xs-12 col-xs-offset-2 challenge'><span>Just you vs </span><span class='someone'>{{someone}}</span></h3>
    </div>
    <div class='row'>
      <a href="#/signup" class='started col-xs-2 col-xs-offset-4 btn btn-lg btn-success'>Get Started</a>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
  <article class='col-xs-4'>
    <h3>What we're doing</h3>
    <p>
      Fittr is doing ... <br>
      Cupcake ipsum dolor sit amet candy pudding. Topping cheesecake croissant marzipan marzipan. Soufflé caramels icing icing ice cream brownie jelly beans. Fruitcake jelly beans tootsie roll cake gummies lollipop muffin pie. Chocolate bar cookie cookie caramels pie chocolate gummi bears. Jujubes sesame snaps brownie ice cream oat cake soufflé pastry.
    </p>
  </article>
  <article class='col-xs-4'>
    <h3>Our Services</h3>
    <p>
      Cupcake ipsum dolor sit amet candy pudding. Topping cheesecake croissant marzipan marzipan. Soufflé caramels icing icing ice cream brownie jelly beans. Fruitcake jelly beans tootsie roll cake gummies lollipop muffin pie. Chocolate bar cookie cookie caramels pie chocolate gummi bears. Jujubes sesame snaps brownie ice cream oat cake soufflé pastry.
    </p>
  </article>
  <article class='col-xs-4'>
    <h3>We're The Best!</h3>
    <p>
      Cupcake ipsum dolor sit amet candy pudding. Topping cheesecake croissant marzipan marzipan. Soufflé caramels icing icing ice cream brownie jelly beans. Fruitcake jelly beans tootsie roll cake gummies lollipop muffin pie. Chocolate bar cookie cookie caramels pie chocolate gummi bears. Jujubes sesame snaps brownie ice cream oat cake soufflé pastry.
    </p>
  </article>
  </div>
</div>