<div class='jumbotron'>
  <div class='container'>
    <div class='row'>
      <h1 class='col-xs-3 col-xs-offset-4'>Fittr</h1>
    </div>
    <div class='row'>
      <h3 class='col-xs-8 col-xs-offset-2 challenge'><span>You vs </span><span class='someone'>{{someone}}</span></h3>
    </div>
    <div class='row'>
      <a href="#/signup" class='started col-xs-2 col-xs-offset-4 btn btn-lg btn-success'>Get Started</a>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
  <article class='col-xs-4'>
    <h3>What we're doing</h3>
    <p>
      Fittr is doing ...
    </p>
  </article>
  <article class='col-xs-4 col-xs-offset-4'>
    <h3>Why join this stuff</h3>
    <p>
      Join this because ...
    </p>
  </article>
  </div>
</div>