<div class='container'>
  <div class='row'>
    <h3>{{name}}</h3>
    <h4>Please authenticate your fitness device to begin comparing ya stats. </h4>
    <br>
    <div class="btn-group btn-group-justified">
      <a class='btn btn-success btn-lg' target='_self' href="/auth/fitbit">Fitbit</a>
      <a class='btn btn-success btn-lg disabled' target='_self' href="" >Nike Fuel</a>
      <a class='btn btn-success btn-lg disabled' target='_self' href="" >Jawbone Up</a>
    </div>
    <br>
    <div class="btn-group btn-group-justified">
      <a class='btn btn-success btn-lg disabled' target='_self' href="">94Fifty</a>
      <a class='btn btn-success btn-lg disabled' target='_self' href="" >Moves</a>
      <a class='btn btn-success btn-lg disabled' target='_self' href="" >RunKeeper</a>
    </div>
  </div>
</div>
