<div class='content'>
  <h1>Steps</h1>
  <div>data: {{data}}</div>
  <div><strong>Please pick the date range you wish to query.</strong></div>

  <p>From date: <input ui-date="dateOptions" ng-model="myDates.from" ui-date-format="yy-mm-dd"> &nbsp; &nbsp;
    To date: <input ui-date="dateOptions" ng-model="myDates.to" ui-date-format="yy-mm-dd">
  </p>

  <div>{{myDates}}</div>

  <button ng-click='getAverage()' class='btn btn-lg btn-primary'>Get Steps Data</button>
  <div ng-controller="Dashboard">
    <nvd3-multi-bar-chart
      data="stepsChart"
      id="stepsChart"
      width="550"
      height="450"
      showxaxis="true"
      showyaxis="true"
      showLegend="true"
      interactive="true"
      tooltips="true"
      <svg></svg>
    </nvd3-multi-bar-chart>
  </div>
</div>
