<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Fittr</h3>
</div>

<div class="jumbotron">
  <h1>Quantify Me!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<form class="login">
  <label>Username</label>
  <input type="input" id="username"> <br>
  <label>Password</label>
  <input type="password" id="password"> <br>
  <button id="login" type="button" class="btn btn-primary">Login</button>
</form>

<div class="footer">
  <p>♥ from the Quantify Me team.</p>
</div>
