/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}
.scroll-content {
  background-color: #ccc;
}

input[type="email"], input[type="password"] {
  padding: 6px;
}
input[type="email"].success, input[type="password"].success {
  border: 2px solid green;
}
input[type="email"].error, input[type="password"].error {
  border: 2px solid red;
}

.tile {
  border: 1px solid #ccc;
  height: 75px;
}

.mast-head {
  background-color: #ccc;
  color: #fff;
  padding: 40px;
}
.mast-head p {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.debug h3 {
  margin-top: 30px;
  text-align: center;
}
.button-container {
  padding: 30px 40px;
}
